{% extends 'base.html' %}

{% block title%}{% endblock %}

{% block content%}
<header>
    <div class="dropdown">
        <span>|Menu|</span>
        <div class="dropdown-content">
            <a class="button " href="/"> <img src="{{ url_for('static', filename='images/home.png') }}"
                    width="20px" /></a>
        </div>
    </div>
    <img src="{{ url_for('static', filename='images/logo.png') }}" width="150px" />
</header>
<div class="center">
    <div class="registry">
        <form method="post" action="/">
            <label name="dni">{{ text['dni'] }}</label>
            <input name="dni" type="text" autocomplete="off" spellcheck="false" required
                onkeyup="this.value = this.value.toUpperCase();" />

            <label name="name">{{ text['name'] }}</label>
            <input name="name" type="text" autocomplete="off" spellcheck="false" autocapitalize="word" required />

            <label name="surname">{{ text['surname'] }}</label>
            <input name="surname" type="text" autocomplete="off" spellcheck="false" required />

            <label name="vcompany">{{ text['vcompany'] }}</label>
            <input name="vcompany" type="vcompany" autocomplete="off" spellcheck="false" required />

            <label name="email">{{ text['email'] }}</label>
            <input name="email" type="email" autocomplete="off" spellcheck="false"
                onkeyup="this.value = this.value.toLowerCase();" required />

            <label name="host">{{ text['host'] }}</label>
            <input name="host" type="text" autocomplete="off" spellcheck="false" required />
            <div class="gdpr">
                <a class="gdpr" href="/?file=GDPR" target="_blank" name="gdpr">{{ text['gdpr'] }}</a>
                <input class="gdpr" name="gdpr" type="checkbox" required />
            </div>
            <button class="button resize" type="submit">{{ text['send'] }}</button>
        </form>
    </div>
</div>
{% endblock %}